body{
	font-size: 18px;
	background-color: #99CC99;
	font-family:'sans-serif';
}

#calculator{
	width: 480px;
	margin: 16px auto;
	padding: 20px;
	background-color: #FFFFCC;
	border-radius: 50%/5%;
	box-shadow: 0px -2px 10px 1px #555,0px -2px 10px 1px #555 inset;
}
h1{
	font-size: 180%;
	font-family: 'Impact','sans-serif';
	text-align: center;
	margin: 24px;
}

h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active
{
	text-decoration: none;
	color: green;
}
h1 a:visited{
	color: #666;
}
h1 a:hover{
	color: #ff8800;
	border-bottom: 1px dashed #ff8800;
}

div.output{
	margin: 10px auto;
	background-color: rgba(255,255,255,1);
	color: black;
	width: 80%;
	height: 36px;
	line-height: 36px;
	text-align: right;
	direction: ltr;
	white-space: nowrap;
 	box-shadow: inset 0px 1px 3px 1px #000000;
    border: 1px #666 solid;
    border-left: 1px #000 solid;
    border-top: 1px #000 solid;
}
div.output div{
	width: 99%;
	margin: 0 0 0 1%;
	position: relative;
	height: 100%;
	overflow: hidden;
}
div.output span{
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	padding-right: 0.3em;
}
div.output span.wrong{
	color: red;
}
p.alert{
	color: red;
	text-align: center;
	line-height: 1;
	margin: 10px 0;
	display: none;
}
table{
	margin: 10px auto;
	border-spacing: 8px;
	border-collapse: separate;
	color: white;
	font-weight: bold;
}
table td{
	background-color: #336666;
	padding: 5px;
	width: 80px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%/4px;
	box-shadow: 0px -1px 6px 0px #666 inset,0px -1px 6px 0px #666;
	cursor:pointer;
}
table td:hover{
	background-color: #224444;
}
table td:active{
	background-color: #224444;
	box-shadow: none;
}
table td[rowspan='2'] span{
	position: relative;
	top: 31px;
}
